@using PageTurner_Bookstore.Models;
@model BookModel
@{
    Layout = "_Layout";
}

<div class="container">
    <h3 class="display-4"> Book details</h3>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/book/book1.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/book/book2.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/book/book3.jpeg" class="d-block w-100"  alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="col-form-label label-primary">By:</span>
                    <span class="nonospaced"> @Model.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                       @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">
                        Read now
                        </button>
                </div>
            </div>
            <hr/>

            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Category - </span>@Model.Category</li>
                <li class="list-group-item"><span class="font-weight-bold">Total Pages - </span>@Model.TotalPages</li>
                <li class="list-group-item"><span class="font-weight-bold">Language - </span>@Model.Language</li>
            </ul>
        </div>

    </div>
    
    <div class="py-5 bg-light">
            <h3 class="h3"></h3>
            <div class="row">

            @for(int i=0; i<5; i++)
                {
                    <div class="col-md-4">
                        <div class="card mb-5" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">book.Title</h5>
                                <p class="card-text">book.Description</p>
                                <div class="btn-group"><a href="/" class="btn btn-sm btn-outline-secondary">view details</a></div>
                                <small class=" author text-muted">book.Author</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
       
    </div>

</div>
